html{
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #343a40;
    letter-spacing: 1px;
    
}

.greybk_whitecolor{
    background-color: #343a40;
    color: white;
}

.explanations{
    margin-top: 20px;
}
.examples{
    margin-top: 30px;
}
.container-fluid{
    padding: 50px 0px 50px 0px !important;
    
}

h2{
    margin-bottom: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid;
}

h3{
    margin: 50px 0px 50px 0px;
    letter-spacing: 5px;
    font-weight: bold;
}

h4{
    font-size: 18px;
    margin-top:20px;
}

.lkd {
    width: 100px;
}

#propos .row .col-2 a{
    text-decoration: none !important;
    color: black;
    font-weight: bold;
}

#propos .row .col-2{
    width: 25%;
}


@media screen and (max-width: 768px)
{
    h1{
        font-size: 5vw !important;
    }
    h2{
        font-size: 3vw !important;

    }
    h3{
        font-size: 2vw !important;

    }
    p{
        font-size: 1.5vw !important;

    }
    code{
        font-size: 1vw !important;
    }
    h4{
        font-size: 1.5vw !important;
    }

}